@model CleaningSupplies.Database.Models.Master

@{
    ViewBag.Title = "Notes";
}

<label id="notes">Text Area</label>
<textarea> </textarea>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>
