@{
    ViewBag.Title = "About";
}

@*<h3>@ViewBag.Message</h3>*@<br /><br />

<h1>About</h1>
<p>
    <img class="img-responsive img-rounded" src="~/Images/apl_bldg.jpg"/><br /><br />
    <b>Who We Are</b><br />
    Friendship APL is a private, independent, non-profit [501(c)(3)] humane society founded in Elyria, Ohio in 1957. We own and operate the largest animal shelter in Lorain County. Our members incorporated on August 30, 1957 as the Lorain County Animal Protective League. We changed our name to Friendship Animal Protective League on October 30, 2005.
</p><br />

<img class="img-responsive img-rounded" src="~/Images/aboutRescueCat.png" /><br /><br />

<p>
    <b>How We are Funded</b><br />
    Friendship APL receives no government funding. We depend on the generosity and financial support of friends and neighbors, and on various fundraisers, to serve the people and animals of Lorain County.
</p><br />

<img class="img-responsive img-rounded" src="~/Images/Chihuahua2-543x304.jpg" />
