@*@{
        ViewBag.Title = "Contact";
    }*@

<style>

    .embed-container {
        position: relative;
        padding-bottom: 40.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

        .embed-container iframe, .embed-container object, .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>

@*<h3>@ViewBag.Message</h3>*@<br />

<h1>Contact</h1><br />

<img class="img-responsive img-rounded" src="~/Images/apl_bldg.jpg" /><br /><br />

<address>
    <b>Friendship Animal Protective League</b><br />
    8303 Murray Ridge Road<br />
    Elyria, Ohio 44035<br />

    <abbr title="Phone"></abbr>
    Phone: (440) 322-4321
</address><br />

<address>
    <strong>Support:</strong>   <a href="mailto:gregory@friendshipapl.org">gregory@friendshipapl.org</a>
</address><br />

<div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.0735935543557!2d-82.14949838457467!3d41.372485779265645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88309f2064e40c23%3A0x97337708ba8f27c1!2s8303+Murray+Ridge+Rd%2C+Elyria%2C+OH+44035!5e0!3m2!1sen!2sus!4v1525371681378' width='543' height='185' frameborder='0' style='border:0' allowfullscreen></iframe></div>
 <br/>               
<h4><b>Directions From I-90</b></h4>

<ul>
    <li>Take Interstate 90 to State Route 57</li>
    <li>South on Route 57 to Route 113</li>
    <li>West (right) on Route 113 to Murray Ridge Road</li>
    <li>Turn left onto Murray Ridge Road</li>
    <li>Cross the railroad tracks & Lowell Street</li>
</ul><br /><br />

<h4><b>Directions From Ohio Turnpike</b></h4>

<ul>
    <li>Take the Turnpike to State Route 57</li>
    <li>South on Route 57 to Route 113</li>
    <li>West (right) on Route 113 to Murray Ridge Road</li>
    <li>Turn left onto Murray Ridge Road</li>
    <li>Cross the railroad tracks & Lowell Street</li>
</ul><br /><br />



<img class="img-responsive img-rounded" src="~/Images/aboutHoursDog.png" /><br /><br />

<p>
    <h4><b>Hours of Operation</b></h4><br />
    Adoptions stop one half hour prior to closing.<br /><br />

    <b>Monday</b><br />
    Closed<br /><br />

    <b>Wednesday, Friday and Saturday</b><br />
    11 AM - 4:30 PM<br /><br />

    <b>Tuesday  & Thursday</b><br />
    11 AM - 6:30 PM<br /><br />

    <b>Sunday</b><br />
    11 AM - 3 PM<br /><br />
</p>
<img class="img-responsive img-rounded" src="~/Images/involvedClassesDog.png" />