@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    <b>Friendship Animal Protective League</b><br />
    8303 Murray Ridge Road<br />
    Elyria, Ohio 44035<br />
   
    <abbr title="Phone"></abbr>
    Phone: (440) 322-4321
</address>

<img src="~/Images/aboutHoursDog.png" /><br /><br />

<address>
    <strong>Support:</strong>   <a href="mailto:gregory@friendshipapl.org">gregory@friendshipapl.org</a>    
</address>